section {
    display: flex;
    justify-content: center;
}

.containerBuy {
    width: 81%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car button,
.buy {
    margin-bottom: .5em;
    height: 2em;
    cursor: pointer;
    border: none;
    background-color: #751FFF;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    transition: 1s;
}


.car{
    display: flex;
    flex-direction: column;
    
}

#quantG{
    text-align: center;
    color: #fff;
    border-radius: 2px;
    height: 2em;
    justify-content: center;
    border: none; 
    background-color: #a339fa;
}

#quantG::placeholder{
    color: #fff;
    text-align: center;
}

.loc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.iten {
    display: flex;
    height: 17em;
    margin-top: 10em;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
    width: 100%;
}

.iten button {
    display: none;
}

.iten img {
    width: 6em;
    height: 6em;
}

.iten span {
    display: none;
}

.lupa:hover {
    cursor: pointer;
}

#cep {
    border: none;
    background-color: #a339fa;
    border-radius: 2px;
    text-align: center;
    height: 2em;
    color: #fff;
}

#cep::placeholder {
    color: #fff;
}

#frete {
    font-size: 1em;
    text-align: center;
}

.loading {
    display: none;
}

/* Styles from message imported of the JS*/
#message {
    width: 75%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -2em;

}

#message .fail {

    font-size: 1.5em;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #f87a7a;
    width: 25em;
}

#End {
    width: 100%;
    margin-bottom: 20%;
}

#End p {
    font-size: 1em;

}