section{
    display: flex;
    justify-content: center;
}

.containerBuy{
    width: 80%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.car button, .buy{
    margin-bottom: .5em;
    height: 2em;
    width: 15em;
    cursor: pointer;
    border: none;
    background-color: #751FFF;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    transition: 1s;
    
}


.iten{
    display: flex;
    width: 20em;
    height: 25em;
    margin-top: 10em;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
}



.iten button{
    display: none;
}

.loc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lupa:hover{
    cursor: pointer;
}

.loading{
    display: none;
}

/* Styles from message imported of the JS*/
#message{
    width: 75%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -2em;

}

#message .fail{
    
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #f87a7a;
    width: 25em;
}
