#carrinho{
    width: 4em;
    position: absolute;
    cursor: pointer;
}

#contCar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left;
    width: 90%;
}
