main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.celulares{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border: 0.5px solid #cccaca;

}

.celulares p:not(.preco){
    margin-top: 2vh;
    width: 15vw;
    margin-left: 2.5vw;
    overflow:hidden ;
    text-overflow: ellipsis;
}

.celulares img{
    width: 20vw;
}

footer{
    margin-top: 5vh;
}