section {
    display: flex;
    justify-content: center;
    text-align: center;
}

.celIte {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 80%;
}

.celulares {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: 0.5px solid #cccaca;
    width: 20em;
    height: 25em;
    overflow: hidden;
}

.celulares p:not(.preco) {
    margin-top: 2vh;

}

.celulares img {
    width: 50%;
}

footer {
    margin-top: 5vh;
}