main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    margin-left: 9vw;
}

.celulares{
    background-color: #fff;
    margin: 2px 2px;
    width: 20vw;
    height: 60vh;
    cursor: pointer;
    border: 0.5px solid #cccaca;

}

.celulares p:not(.preco){
    margin-top: 2vh;
    width: 15vw;
    margin-left: 2.5vw;
}

.celulares img{
    width: 20vw;
}

.preco{
    margin-top: 10vh;
}

footer{
    margin-top: 5vh;
}