/* home page */
.texto-prom button:hover, .texto-fone button:hover{
    background: none;
    border: 1px solid gray;
    color: #faf7f7;
}

.buttonBuy button:hover, .sale button:hover, .buttonSeler button:hover{
    background-color: #4d17a3;
}   

.links a:hover{
    background-color: #4d17a3;
}

.atalho-item img:hover{
    transform: scale(1.1);
    transition: .5s;
}

.categorias div div:hover img, .saleItens div:hover img:not(.loading){
    transform: scale(1.1);
    transition: .5s;
}

.bestSellersItens div:hover img:not(.loading){
    transform: scale(1.1);
    transition: .5s;
}

/*products page  */

.itens:hover img{
    transform: scale(1.1);
    transition: .5s;
}

.itens button:hover{
    background-color: #4d17a3;
}

.celulares:hover img, .table:hover img, .item:hover img, .Pagetablet:hover img, .pc div:hover img, .tvItem:hover img{
    transform: scale(1.1);
    transition: .5s;
}

.itemFone:hover img:not(.loading){
    transform: scale(1.1);
    transition: .5s;
 }
