/* home page */
.texto-prom button:hover, .texto-fone button:hover{
    background: none;
    border: 1px solid gray;
    color: #faf7f7;
}

.buttonBuy button:hover, .sale button:hover, .buttonSeler button:hover{
    background-color: #4d17a3;
}   

.links a:hover{
    background-color: #4d17a3;
}

.atalho-item img:hover{
    zoom:1.03;
}

.categorias div div:hover img, .saleItens div:hover img:not(.loading){
    transform: scale(1.1);
    transition: .5s;
}

.bestSellersItens div:hover img:not(.loading){
    transform: scale(1.1);
    transition: .5s;
}

/*products page  */

.itens:hover{
    zoom: 1.03;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.36);
    border-radius: 5px;
}

.itens button:hover{
    background-color: #4d17a3;
}

.celulares:hover, .table:hover, .item:hover, .Pagetablet:hover, .container_itensPc div:hover, .tvItem:hover{
    zoom: 1.02;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.36);
    border-radius: 5px;
}

.itemFone:hover img:not(.loading){
    transform: scale(1.1);
 }
