/* home page */
.texto-prom button:hover, .texto-fone button:hover{
    background-color: #c9c9c9;
    width: 100%;
    height: 1em;
}

.buttonBuy button:hover, .sale button:hover{
    background-color: #4d17a3;
}   

.links a:hover{
    background-color: #9e9e9e;
}

.atalho-item img:hover, .bestSellersItens div:hover, .categorias div div:hover, .saleItens div:hover{
    zoom:1.03;
    
}

/*products page  */

.itens:hover{
    zoom: 1.03;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.36);
    border-radius: 5px;
}

.itens button:hover{
    background-color: #4d17a3;
}

.celulares:hover, .table:hover, .item:hover, .Pagetablet:hover, .container_itensPc div:hover{
    zoom: 1.02;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.36);
    border-radius: 5px;
}

