@media only screen and (max-width:800px) {
    .meio {
        display: flex;
        flex-direction: column;
    }

    .detalhes div img {
        width: 40px;
    }

    .categorias {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container_category{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .bestSellersItens{
        flex-direction: column;
    }

    .saleItens{
        flex-direction: column;
    }
}

@media only screen and (min-width:2638px){
    .saleButton, .buttonSeler{
        font-size: 2em;
    }
}