.container_itensPc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_itensPc div{
    background-color: #fff;
    width: 14em;
    cursor: pointer;
    border: 0.5px solid #cccaca;
    text-align: center;
    
}

.container_itensPc div p{
    font-size: 1.7em;
}
