.container_itensPc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.pc{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.pc div{
    background-color: #fff;
    overflow: hidden;
    width: 14em;
    cursor: pointer;
    border: 0.5px solid #cccaca;
    text-align: center;
    
}

.pc div p{
    font-size: 1.7em;
}
