.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itens{
    border: 0.5px solid #edecec;
    display: flex;
    text-align: center;
    width: 14em;
    height: 41vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
}

.itens img{
    margin-top: 2vw;
}

.itens > .preco{
    margin-top: 5vh;
}

.itens button{
    border: none;
    width: 8em;
    height: 5vh;
    cursor: pointer;
    background-color: #751FFF;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    margin-top: 6vh;
    transition: 1s;

}

footer{
    margin-top: 5vh;
}