.containerProd{
    display: flex;
    justify-content: center;
}

.produtos{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 80%;
}

.itens{
    border: 0.5px solid #edecec;
    display: flex;
    width: 20em;
    height: 25em;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
}

.itens img{
    margin-top: 2vw;
}

.itens > .preco{
    margin-top: 5vh;
}

.itens button{
    border: none;
    width: 8em;
    height: 35px;
    cursor: pointer;
    background-color: #751FFF;
    border-radius: 5px;
    color: #fff;
    font-size: 1.6em;
    transition: 1s;
    margin-top: 30px;
}

footer{
    margin-top: 5vh;
}