section{
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    background-color: #fff;
    width: 14em;
    align-items: center;
    cursor: pointer;
    border: 0.5px solid #cccaca;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item img{
    width: 50%;
}
