main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.Pagetablet{
    background-color: #fff;
    display: flex;
    flex-direction: column;

    cursor: pointer;
    border: 0.5px solid #cccaca;
    
}

.Pagetablet p:not(.preco){
    margin-top: 2vh;
    width: 15vw;
    margin-left: 2.5vw;
    overflow:hidden ;
    text-overflow: ellipsis;
}

footer{
    margin-top: 10vh;
}