section {
    display: flex;
    justify-content: center;
    text-align: center;
}

.containerTv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 80%;
}

.tvItem{
    width: 20em;
    height: 25em;
    background-color: #fff;
    border: 0.5px solid #cccaca;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.tvItem img {
    width: 50%;
}

.loading{
    margin-top: 0%;
}