.containerTv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: auto;

}

.tvItem{
    width: 14em;
    background-color: #fff;
    border: 0.5px solid #cccaca;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

}
