@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #edecec;
    font-family: 'DM Sans', sans-serif;
  
}

header{
    background-color: #c0c0c0;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 8vh 0 5vh 0;
    font-variant: small-caps;
    margin-bottom: 5vh;
    
}

header h1{
    margin-bottom: 3vh;
}

header a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    margin: 0 10vw;
}

.atalho{
    display: flex;
    background-color:#fff;
    padding: 10vh 0 2.5vh 10vw;
    margin-bottom: 5vh;
    text-align: center;
    
}

.atalho h1{
    position: absolute;
    margin-top: -10vh;
    margin-left: 35vw;
    font-size: 3.5em;
}

.atalho-item{
    margin: 0 5vw;
    
}

.atalho1{
    margin-left: 15vw;
}

.atalho a{
    text-decoration: none;
    color: #000;
}

.slider{
    background-position: center;
    width: 90vw;
    height: 80vh;
    display: block;
    margin: auto;
    border-radius: 5px;
    background-color: #edecec;
}

.meio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.promocao{
    margin-top: 5vh;
    padding: 0 15vw 0 4vw;
}

.texto-prom{
    position: absolute;
    text-align: center;
    color: #fff;
}

.texto-prom h3, .texto-fone h2{
    font-size: 40px;/*
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-left: 5vw;*/
}

.texto-prom button, .texto-fone button{
    border: none;
    border-radius: 15px;
    margin-top: 5vh;
    height: 5vh;
    cursor: pointer;
    transition: 1s;
    background: none;
}

.texto-prom button a, .texto-fone button a{
    text-decoration: none;
    color: #000;
    font-size: 3em;
    
}

.fone{
    margin-top: 5vh;
    margin-left: -5vw;
    font-family: 'DM Sans', sans-serif;
}

.texto-fone{
    position: absolute;
    text-align: center;
    color: #fff;
}

.detalhes{
    display: flex;
    margin: 50px;
    border: 2px solid #5e5e5e;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.603);
}

.entrega, .frete, .precobaixo{
    margin-left: 10vw;
    margin: 0 8vw;
    height: 5vh;
    display: flex;
    margin-top: 2vh;
    font-family: 'Times New Roman', Times, serif;
}

.bestseler{
    background-color: #fff;
    padding: 8vh 0 0 0;
    
    
}

.bestseler div{
    cursor: pointer;
    transition: 1s;
}

.bestseler h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 5vh;
}

.seler1, .seler2, .seler3, .seler4, .seler5, .seler6{
    border: 1px solid rgba(0, 0, 0, 0.37);
    width: 15vw;
    display: inline-block;
    
}

.seler2, .seler3, .seler4, .seler5, .seler6{
    margin-left: -5px;
}

.seler1{
    margin-left: 3vw;
}

.bestseler img{
    width: 15vw;
    height: 30vh;
    cursor: pointer;
}

.bestseler span{
    position: absolute;
    background-color: red;
    color: #fff;
}

.preco{
    text-align: center;
    color: #751FFF;
    font-size: 17px;
    margin-top: 2vh;
}

.bestseler button, .sale button{
    margin-top: 5vh;
    margin-left: 32vw;
    border: none;
    width: 30vw;
    height: 8vh;
    cursor: pointer;
    background-color: #751FFF;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10vh;
    transition: 1s;
}

.bestseler button a, .sale button a{
    text-decoration: none;
    color: #fff;
}


.sale{
    background-color: #fff;
    margin-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sale > div{
    justify-content: center;
    cursor: pointer;
}

.sale h2{
    position: absolute;
    text-align: center;
    font-size: 30px;
    padding: 4vh 0 0 0;
}

.sale1, .sale2, .sale3, .sale4{
    border: 1px solid rgba(0, 0, 0, 0.37);
    width: 15vw;
    margin-top: 10vh;
}

.sale img{
    width: 15vw;
    height: 30vh;
    
}

.sale span{
    position: absolute;
    background-color: red;
    color: #fff;
}

.sale > button{
   margin: 10vh 10vw;
}

footer{
    background-color: #000;
    color: #fff;
    font-size: 20px;
    padding: 5vh 0 5vh 0vw;
    text-align: center;
}

footer span{
    padding: 1vh 11vw 1vw 1vw;
}

.categorias{
    display: flex;
    background-color: #fff;
    margin-top: 5vh;
    padding: 15vh 0 3vh 0;
    text-align: center;
    justify-content: center;
}

.categorias > div{
    display: flex;

}

.categorias img{
    border-radius: 70px;
    box-shadow: 1px 1px 1px 0 #2b2b2b77;
    
}

.categorias a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.categorias h1{
    position: absolute;
    margin: -10vh 11vw;
    width: 40vw;

}
