@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #edecec;
    font-family: 'DM Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #c0c0c0;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 8vh 0 5vh 0;
    font-variant: small-caps;
    margin-bottom: 5vh;

}

header h1 {
    margin-bottom: 3vh;
}

.links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

header a {
    
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    width: 8em;
    border-radius: 5px;
}

.atalho {
    display: flex;
    background-color: #fff;
    padding: 10vh 0 2.5vh 0;
    margin-bottom: 5vh;
    text-align: center;
    flex-direction: column;
}

.atalho-item {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.atalho a {
    text-decoration: none;
    color: #000;
}

.meio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.promocao {
    margin-top: 5vh;
    display: flex;
    justify-content: inherit;
    
}

.promocao img{
    width: 24em;
}

.texto-prom {
    position: absolute;
    text-align: center;
    color: #fff;
}

.texto-prom h3,
.texto-fone h2 {
    font-size: 40px;
}

.texto-prom button,
.texto-fone button {
    border: none;
    border-radius: 15px;
    height: 5vh;
    cursor: pointer;
    transition: 1s;
    background: none;
    text-decoration: none;
    color: #000;
    font-size: 2.5em;
}

.fone {
    margin-top: 5vh;
    margin-left: -5vw;
    font-family: 'DM Sans', sans-serif;
}

.texto-fone {
    position: absolute;
    text-align: center;
    color: #fff;
}

.detalhes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    background-color: #f0eeff;
    border: 2px solid #000;
}


.entrega,
.frete,
.precobaixo {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bestseller {
    background-color: #fff;

}

.bestSellersItens {
    display: flex;
    justify-content: center;
}

.bestseller div {
    cursor: pointer;
    transition: 1s;
}

.bestseller h2 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 5vh;
}

.seler2,
.seler3,
.seler4,
.seler5,
.seler6 {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.bestseller img {
    height: 30vh;
    cursor: pointer;
}

.bestseller span {
    position: absolute;
    background-color: red;
    color: #fff;
}

.preco {
    text-align: center;
    color: #751FFF;
    font-size: 17px;
    margin-top: 2vh;
}

.bestseller button,
.sale button {
    margin-top: 5vh;
    border: none;
    width: 30vw;
    height: 8vh;
    cursor: pointer;
    background-color: #751FFF;
    border-radius: 20px;
    color: #f2f2f2;
    font-size: 1.5em;
    margin-bottom: 10vh;
    transition: 1s;
}

.buttonBuy{
    display: flex;
    text-align: center;
    justify-content: center;
}

.bestseller button a,
.sale button a {
    text-decoration: none;
    color: #fff;
}


.sale {
    background-color: #fff;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.saleItens{
    justify-content: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.saleItens div img{
    width: 15em;
}

.sale h2 {
    text-align: center;
    font-size: 4em;
    width: 100%;
    margin-top: .5em;
}

.sale1,
.sale2,
.sale3,
.sale4 {
    border: 1px solid #000;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sale span {
    position: absolute;
    background-color: red;
    color: #fff;
}

.categorias {
    display: flex;
    background-color: #fff;
    margin-top: 5vh;
    padding: 15vh 0 3vh 0;
    text-align: center;
    justify-content: space-around;
}

.categorias img {
    border-radius: 70px;
    box-shadow: 1px 1px 1px 0 #2b2b2b77;

}

.categorias a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.categorias h1 {
    position: absolute;
    margin: -10vh 11vw;
    width: 40vw;
}

.container_category{
    display: flex;
    align-items: flex-end;
}

