@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background-color: #edecec;
    font-family: 'DM Sans', sans-serif;
    
}

header {
    display: flex;
    flex-direction: column;
    background-color: #751FFF;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 8vh 0 5vh 0;
    font-variant: small-caps;
    margin-bottom: 5vh;

}

header h1 {
    margin-bottom: 3vh;
    font-size: 3em;
}

.links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

header a {
    
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    width: 9em;
    border-radius: 5px;
}


/* Styles from message imported of the JS*/

#men{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    margin-top: -1.5em;

}

#men .fail{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #f87a7a;
    width: 25em;
}


.atalho {
    display: flex;
    background-color: #fff;
    padding: 10vh 0 2.5vh 0;
    margin-bottom: 5vh;
    text-align: center;
    flex-direction: column;
}

.atalho-item {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.atalho a {
    text-decoration: none;
    color: #000;
}

.meio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.promocao {
    margin-top: 5vh;
    display: flex;
    justify-content: inherit;
    
}

.promocao img{
    width: 24em;
}

.texto-prom {
    position: absolute;
    text-align: center;
    color: #fff;
}

.texto-prom h3,
.texto-fone h2 {
    font-size: 2em;
}

.texto-prom button,
.texto-fone button {
    border: none;
    margin: 2em auto;
    border-radius: 5px;
    height: 2em;
    cursor: pointer;
    transition: 1s;
    background: #fff;
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
}

.fone {
    margin-top: 5vh;
    font-family: 'DM Sans', sans-serif;
}

.texto-fone {
    position: absolute;
    text-align: center;
    color: #fff;
}

.detalhes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 1em;
    background-color: #f0eeff;
    border: 2px solid #000;
}


.entrega,
.frete,
.precobaixo {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bestseller {
    background-color: #fff;
    
}

.bestSellersItens {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    font-size: .8em;
}

.bestseller div {
    
    transition: 1s;
}

.bestseller h2 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 5vh;
}

#seler1,
#seler2,
#seler3,
#seler4 {
    border: .5px solid #edecec;
    text-align: center;
    
}

.bestseller img:not(.loading) {
    margin-top: 1em;
    height: 20vh;
    cursor: pointer;
}

.bestseller span {
    position: absolute;
    background-color: red;
    color: #fff;
}

.preco {
    text-align: center;
    color: #751FFF;
    margin-top: 2vh;
}

.bestseller button,
.sale button {
    margin-top: 2.5em;
    border: none;
    width: 30vw;
    height: 8vh;
    cursor: pointer;
    background-color: #751FFF;
    border-radius: 20px;
    color: #f2f2f2;
    font-size: 1.1em;
    margin-bottom: 10vh;
    transition: 1s;
}

.buttonBuy{
    display: flex;
    text-align: center;
    justify-content: center;
}

.bestseller button a{
    text-decoration: none;
    color: #fff;
}


.sale {
    background-color: #fff;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.saleItens{
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .8em;
}

.saleItens div img{
    margin-top: 1em;
    width: 15em;
}

.sale h2 {
    text-align: center;
    font-size: 4em;
    width: 100%;
    margin-top: .5em;
}

.sale1,
.sale2,
.sale3,
.sale4 {
    overflow: hidden;
    cursor: pointer;
    border: .5px solid #edecec;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sale span {
    position: absolute;
    background-color: red;
    color: #fff;
}

.saleItens p{
    width: 95%;
}

.saleButton, .buttonSeler{
    display: flex;
    justify-content: center;
    font-size: .8em;
}

.categorias {
    display: flex;
    background-color: #fff;
    margin-top: 5vh;
    padding: 15vh 0 3vh 0;
    justify-content: space-around;
    text-align: center;
}

.categorias img {
    border-radius: 70px;
    box-shadow: 1px 1px 1px 0 #2b2b2b77;

}

.categorias a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.categorias h1 {
    position: absolute;
    margin: -10vh 11vw;
}

.container_category{
    display: flex;
    align-items: flex-end;
}

p{
    font-size: 1.7em;
}

/*Styles of the image loading*/

.loading{
    margin-top: auto;
    width: 5em;
    height: 5em;
}